In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load dataset
df=pd.read_csv("GA_JvsR.csv")

In [3]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [4]:
df

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2012,"['sleep', 'relax', 'calm', 'night', 'help', 's...",0,"['patient', 'anxiety', 'cognitive', 'treatment...",0.761707,8
1,Academic,2012,Reddit,2012,"['anyone_else', 'today', 'amount', 'coffee', '...",1,"['fear', 'sad', 'memory', 'social', 'previous'...",0.593093,18
2,Academic,2012,Reddit,2012,"['drive', 'tomorrow', 'test', 'exercise', 'app...",2,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.694902,24
3,Academic,2012,Reddit,2012,"['guy', 'deal', 'one', 'interested', 'random',...",3,"['fear', 'sad', 'memory', 'social', 'previous'...",0.557574,18
4,Academic,2012,Reddit,2012,"['alone', 'exist', 'somewhere', 'female', 'pre...",4,"['single', 'nucleus', 'rat', 'apoptosis', 'neu...",0.606998,32
...,...,...,...,...,...,...,...,...,...
1966,Academic,2020,Reddit,2020,"['stomach', 'better', 'change', 'trigger', 'mg...",30,"['sleep', 'effect', 'response', 'increase', 'n...",0.591387,3
1967,Academic,2020,Reddit,2020,"['world', 'head', 'tip', 'matter', 'situation'...",31,"['cognitive', 'trait', 'performance', 'avoidan...",0.650616,9
1968,Academic,2020,Reddit,2020,"['happen', 'realize', 'many', 'kind', 'somethi...",32,"['sleep', 'effect', 'response', 'increase', 'n...",0.537414,3
1969,Academic,2020,Reddit,2020,"['test', 'covid', 'remove', 'positive', 'paren...",33,"['negative', 'self', 'relationship', 'individu...",0.629861,12
1970,Academic,2020,Reddit,2020,"['tell', 'want', 'say', 'read', 'know', 'small...",34,"['mdd', 'suicide', 'major_depressive', 'suicid...",0.510246,10

In [5]:
n=len(df)

In [6]:
#Get the number of topics in one year
df12=df[df['query_year']==2012]
n12=max(df12['query_topicID'])
print(n12)

34

In [7]:
df13=df[df['query_year']==2013]
n13=max(df13['query_topicID'])
print(n13)

18

In [8]:
df14=df[df['query_year']==2014]
n14=max(df14['query_topicID'])
print(n14)

25

In [9]:
df15=df[df['query_year']==2015]
n15=max(df15['query_topicID'])
print(n15)

20

In [10]:
df16=df[df['query_year']==2016]
n16=max(df16['query_topicID'])
print(n16)

16

In [11]:
df17=df[df['query_year']==2017]
n17=max(df17['query_topicID'])
print(n17)

19

In [12]:
df18=df[df['query_year']==2018]
n18=max(df18['query_topicID'])
print(n18)

35

In [13]:
df19=df[df['query_year']==2019]
n19=max(df19['query_topicID'])
print(n19)

9

In [14]:
df20=df[df['query_year']==2020]
n20=max(df20['query_topicID'])
print(n20)

34

In [15]:
ls12=[]
ls13=[]
ls14=[]
ls15=[]
ls16=[]
ls17=[]
ls18=[]
ls19=[]
ls20=[]
for i in range(0,n):
    if df['query_year'][i]==2012:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        #This tuple is of the form (topic_ID, highest score) for a given year
        ls12.append(tup)
        #This list stores all such tuples for one year
    elif df['query_year'][i]==2013:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls13.append(tup)
    elif df['query_year'][i]==2014:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls14.append(tup)
    elif df['query_year'][i]==2015:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls15.append(tup)
    elif df['query_year'][i]==2016:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls16.append(tup)
    elif df['query_year'][i]==2017:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls17.append(tup)
    elif df['query_year'][i]==2018:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls18.append(tup)
    elif df['query_year'][i]==2019:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls19.append(tup)
    elif df['query_year'][i]==2020:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls20.append(tup)

In [16]:
print(ls13)

[(0, 0.635540306568146), (1, 0.631395816802979), (2, 0.730427920818329), (3, 0.703975379467011), (4, 0.718698501586914), (5, 0.627431869506836), (6, 0.757065057754517), (7, 0.629390597343445), (8, 0.679049551486969), (9, 0.583821654319763), (10, 0.598224461078644), (11, 0.588795185089111), (12, 0.708298623561859), (13, 0.742399096488953), (14, 0.70017147064209), (15, 0.618593096733093), (16, 0.638533174991608), (17, 0.631402909755707), (18, 0.664270162582397), (0, 0.667408585548401), (1, 0.687953531742096), (2, 0.713820576667785), (3, 0.695944845676422), (4, 0.657252669334412), (5, 0.61995542049408), (6, 0.760728120803833), (7, 0.580750226974487), (8, 0.591945588588715), (9, 0.60331791639328), (10, 0.568686068058014), (11, 0.523378193378449), (12, 0.698269009590149), (13, 0.64979350566864), (14, 0.639692842960358), (15, 0.640653252601624), (16, 0.642999112606049), (17, 0.56647801399231), (18, 0.672764956951141), (0, 0.647639751434326), (1, 0.604557514190674), (2, 0.731281936168671), (3, 0.631771385669708), (4, 0.687377452850342), (5, 0.582602083683014), (6, 0.68838107585907), (7, 0.622886538505554), (8, 0.604414165019989), (9, 0.571274518966675), (10, 0.561638951301575), (11, 0.527130007743835), (12, 0.702937543392181), (13, 0.645847856998444), (14, 0.635216414928436), (15, 0.607167840003967), (16, 0.608625113964081), (17, 0.568730056285858), (18, 0.677369296550751), (0, 0.667490482330322), (1, 0.707330226898193), (2, 0.720039546489716), (3, 0.648772239685059), (4, 0.625877559185028), (5, 0.584702491760254), (6, 0.746155560016632), (7, 0.598268151283264), (8, 0.647352576255798), (9, 0.580492615699768), (10, 0.55498617887497), (11, 0.539223611354828), (12, 0.681459188461304), (13, 0.626876533031464), (14, 0.646805882453918), (15, 0.576440513134003), (16, 0.624154448509216), (17, 0.574976027011871), (18, 0.628986239433289), (0, 0.681447505950928), (1, 0.640540719032288), (2, 0.709885478019714), (3, 0.650833129882813), (4, 0.694121897220612), (5, 0.634745657444), (6, 0.690973281860352), (7, 0.563372731208801), (8, 0.583655595779419), (9, 0.568361699581146), (10, 0.540759563446045), (11, 0.543703138828278), (12, 0.716236650943756), (13, 0.631064593791962), (14, 0.591513574123383), (15, 0.668497741222382), (16, 0.612456977367401), (17, 0.611630439758301), (18, 0.635960102081299), (0, 0.645450711250305), (1, 0.59199470281601), (2, 0.725044786930084), (3, 0.668271541595459), (4, 0.655448913574219), (5, 0.580750644207001), (6, 0.789203763008118), (7, 0.616028010845184), (8, 0.714096605777741), (9, 0.562878549098969), (10, 0.544628024101257), (11, 0.564355969429016), (12, 0.688015162944794), (13, 0.673512816429138), (14, 0.629007399082184), (15, 0.699053764343262), (16, 0.599866509437561), (17, 0.56637454032898), (18, 0.649424910545349), (0, 0.6825932264328), (1, 0.612965703010559), (2, 0.692293524742126), (3, 0.629958212375641), (4, 0.646184325218201), (5, 0.594441950321198), (6, 0.70270562171936), (7, 0.583159446716309), (8, 0.665876865386963), (9, 0.529980957508087), (10, 0.586843430995941), (11, 0.523000597953796), (12, 0.675122141838074), (13, 0.633113563060761), (14, 0.590880274772644), (15, 0.708584129810333), (16, 0.600377321243286), (17, 0.550695300102234), (18, 0.63260805606842), (0, 0.662504017353058), (1, 0.611076295375824), (2, 0.688972175121307), (3, 0.661570549011231), (4, 0.668182194232941), (5, 0.609295904636383), (6, 0.757595360279083), (7, 0.595980703830719), (8, 0.499109089374542), (9, 0.530986189842224), (10, 0.561457276344299), (11, 0.492490470409393), (12, 0.665152132511139), (13, 0.622298657894135), (14, 0.595958054065704), (15, 0.641484975814819), (16, 0.627379775047302), (17, 0.569394886493683), (18, 0.639929533004761), (0, 0.69013774394989), (1, 0.634668052196503), (2, 0.683487713336945), (3, 0.687011241912842), (4, 0.756756842136383), (5, 0.605671107769012), (6, 0.703258633613586), (7, 0.585725009441376), (8, 0.588776290416718), (9, 0.51392525434494), (10, 0.525256812572479), (11, 0.540598511695862), (12, 0.690512716770172), (13, 0.628820061683655), (14, 0.556605696678162), (15, 0.685335516929626), (16, 0.638662219047546), (17, 0.526513278484345), (18, 0.642641127109528)]

In [17]:
t0=[]
l=len(ls13)
for i in range(l):
    if ls13[i][0]==0:
        t0.append(ls13[i])
print(t0)

[(0, 0.635540306568146), (0, 0.667408585548401), (0, 0.647639751434326), (0, 0.667490482330322), (0, 0.681447505950928), (0, 0.645450711250305), (0, 0.6825932264328), (0, 0.662504017353058), (0, 0.69013774394989)]

In [18]:
m=max(t0)
print(m)

(0, 0.69013774394989)

In [19]:
row=df[df['best_match_score'] == m[1]]

In [20]:
#Function to get the highest score for a particular query by topic_ID number
def get_best_score(ls,topic_ID):
    t=[]
    l=len(ls)
    for i in range(l):
        if ls[i][0]==topic_ID:
            t.append(ls[i])
    m=max(t)
    #print(m)
    row=df[df['best_match_score'] == m[1]]
    return row

In [21]:
ans=get_best_score(ls12,0)
print(ans)

     corpus  corpus_year query_source  query_year  \
0  Academic         2012       Reddit        2012

                                               query  query_topicID  \
0  ['sleep', 'relax', 'calm', 'night', 'help', 's...              0

                                          best_match  best_match_score  \
0  ['patient', 'anxiety', 'cognitive', 'treatment...          0.761707

   best_match_topicID
0                   8

In [22]:
#Create a Dataframe to store the results
output=pd.DataFrame()

In [23]:
#Gap Analysis for 2012
for val in range(n12):
    op=get_best_score(ls12,val)
    output=output.append(op)

In [24]:
#Gap Analysis for 2013
for val in range(n13):
    op=get_best_score(ls13,val)
    output=output.append(op)

In [25]:
#Gap Analysis for 2014
for val in range(n14):
    op=get_best_score(ls14,val)
    output=output.append(op)

In [26]:
#Gap Analysis for 2015
for val in range(n15):
    op=get_best_score(ls15,val)
    output=output.append(op)

In [27]:
#Gap Analysis for 2016
for val in range(n16):
    op=get_best_score(ls16,val)
    output=output.append(op)

In [28]:
#Gap Analysis for 2017
for val in range(n17):
    op=get_best_score(ls17,val)
    output=output.append(op)

In [29]:
#Gap Analysis for 2018
for val in range(n18):
    op=get_best_score(ls18,val)
    output=output.append(op)

In [30]:
#Gap Analysis for 2019
for val in range(n19):
    op=get_best_score(ls19,val)
    output=output.append(op)

In [31]:
#Gap Analysis for 2020
for val in range(n20):
    op=get_best_score(ls20,val)
    output=output.append(op)

In [32]:
output.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2012,"['sleep', 'relax', 'calm', 'night', 'help', 's...",0,"['patient', 'anxiety', 'cognitive', 'treatment...",0.761707,8
1753,Academic,2020,Reddit,2012,"['anyone_else', 'today', 'amount', 'coffee', '...",1,"['cognitive', 'trait', 'performance', 'avoidan...",0.618855,9
221,Academic,2013,Reddit,2012,"['drive', 'tomorrow', 'test', 'exercise', 'app...",2,"['phobia', 'life_event', 'depression', 'emerge...",0.711446,8
660,Academic,2015,Reddit,2012,"['guy', 'deal', 'one', 'interested', 'random',...",3,"['social', 'sad', 'change', 'personality', 'co...",0.564091,8
1099,Academic,2017,Reddit,2012,"['alone', 'exist', 'somewhere', 'female', 'pre...",4,"['mental', 'health', 'self', 'network', 'repor...",0.609496,17

In [33]:
output.to_csv("Journal_vs_Reddit.csv")