In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load dataset
df=pd.read_csv("GA_JvM.csv")

In [3]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [4]:
df

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Medium,2012,"['blog', 'spend', 'black', 'suffer', 'stigma',...",0,"['symptom', 'patient', 'depression', 'somatic'...",0.587137,37
1,Academic,2012,Medium,2012,"['blog', 'twin', 'baseball', 'game', 'spend', ...",1,"['fear', 'sad', 'memory', 'social', 'previous'...",0.542189,18
2,Academic,2012,Medium,2012,"['symptom', 'physical', 'emotional', 'aqui', '...",2,"['threat', 'bias', 'attention', 'reactivity', ...",0.703528,9
3,Academic,2012,Medium,2012,"['faith', 'pull', 'action', 'strong', 'spend',...",3,"['fear', 'sad', 'memory', 'social', 'previous'...",0.646149,18
4,Academic,2012,Medium,2012,"['emotional', 'symptom', 'physical', 'controla...",4,"['anxiety', 'negative', 'sensitivity', 'belief...",0.729099,33
...,...,...,...,...,...,...,...,...,...
2335,Academic,2020,Medium,2020,"['social', 'support', 'group', 'uncertainty', ...",13,"['negative', 'self', 'relationship', 'individu...",0.678131,12
2336,Academic,2020,Medium,2020,"['plan', 'manage', 'set', 'list', 'task', 'avo...",14,"['cognitive', 'trait', 'performance', 'avoidan...",0.617777,9
2337,Academic,2020,Medium,2020,"['meditation', 'com', 'https', 'mindfulness', ...",15,"['cognitive', 'trait', 'performance', 'avoidan...",0.699146,9
2338,Academic,2020,Medium,2020,"['child', 'parent', 'kid', 'student', 'school'...",16,"['health', 'mental', 'child', 'report', 'exper...",0.670809,15
2339,Academic,2020,Medium,2020,"['exercise', 'reduce', 'study', 'effect', 'inc...",17,"['treatment', 'intervention', 'group', 'therap...",0.577230,5

In [5]:
n=len(df)

In [6]:
#Get the number of topics in one year
df12=df[df['query_year']==2012]
n12=max(df12['query_topicID'])
print(n12)

7

In [7]:
df13=df[df['query_year']==2013]
n13=max(df13['query_topicID'])
print(n13)

11

In [8]:
df14=df[df['query_year']==2014]
n14=max(df14['query_topicID'])
print(n14)

41

In [9]:
df15=df[df['query_year']==2015]
n15=max(df15['query_topicID'])
print(n15)

41

In [10]:
df16=df[df['query_year']==2016]
n16=max(df16['query_topicID'])
print(n16)

41

In [11]:
df17=df[df['query_year']==2017]
n17=max(df17['query_topicID'])
print(n17)

25

In [12]:
df18=df[df['query_year']==2018]
n18=max(df18['query_topicID'])
print(n18)

43

In [13]:
df19=df[df['query_year']==2019]
n19=max(df19['query_topicID'])
print(n19)

25

In [14]:
df20=df[df['query_year']==2020]
n20=max(df20['query_topicID'])
print(n20)

17

In [15]:
ls12=[]
ls13=[]
ls14=[]
ls15=[]
ls16=[]
ls17=[]
ls18=[]
ls19=[]
ls20=[]
for i in range(0,n):
    if df['query_year'][i]==2012:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        #This tuple is of the form (topic_ID, highest score) for a given year
        ls12.append(tup)
        #This list stores all such tuples for one year
    elif df['query_year'][i]==2013:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls13.append(tup)
    elif df['query_year'][i]==2014:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls14.append(tup)
    elif df['query_year'][i]==2015:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls15.append(tup)
    elif df['query_year'][i]==2016:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls16.append(tup)
    elif df['query_year'][i]==2017:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls17.append(tup)
    elif df['query_year'][i]==2018:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls18.append(tup)
    elif df['query_year'][i]==2019:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls19.append(tup)
    elif df['query_year'][i]==2020:
        x=df['query_topicID'][i]
        y=df['best_match_score'][i]
        tup=(x,y)
        ls20.append(tup)

In [16]:
print(ls13)

[(0, 0.592080593109131), (1, 0.679478764533997), (2, 0.708332896232605), (3, 0.605270147323608), (4, 0.67196136713028), (5, 0.693621814250946), (6, 0.567223787307739), (7, 0.615176975727081), (8, 0.676750838756561), (9, 0.61145007610321), (10, 0.631388604640961), (11, 0.525472581386566), (0, 0.547907829284668), (1, 0.666599094867706), (2, 0.716087579727173), (3, 0.527930974960327), (4, 0.656490981578827), (5, 0.684673964977264), (6, 0.576245129108429), (7, 0.568400800228119), (8, 0.672967433929443), (9, 0.581789493560791), (10, 0.684858858585358), (11, 0.530473470687866), (0, 0.521400809288025), (1, 0.644586205482483), (2, 0.690899908542633), (3, 0.578934371471405), (4, 0.637978851795197), (5, 0.654102087020874), (6, 0.632896542549133), (7, 0.593010604381561), (8, 0.690688490867615), (9, 0.581377804279327), (10, 0.629294812679291), (11, 0.537673830986023), (0, 0.581149637699127), (1, 0.707160294055939), (2, 0.615273237228394), (3, 0.535333514213562), (4, 0.631887018680573), (5, 0.700124204158783), (6, 0.538260817527771), (7, 0.578668355941772), (8, 0.667205631732941), (9, 0.570899724960327), (10, 0.646071553230285), (11, 0.519424498081207), (0, 0.578332483768463), (1, 0.680784523487091), (2, 0.719133138656616), (3, 0.543209433555603), (4, 0.659658670425415), (5, 0.655745327472687), (6, 0.551901459693909), (7, 0.581606566905975), (8, 0.642470896244049), (9, 0.643345236778259), (10, 0.647687792778015), (11, 0.54335629940033), (0, 0.549889087677002), (1, 0.669418275356293), (2, 0.684034943580627), (3, 0.515813827514648), (4, 0.692972838878632), (5, 0.672487437725067), (6, 0.5442875623703), (7, 0.583090782165527), (8, 0.623637735843658), (9, 0.616968035697937), (10, 0.634894251823425), (11, 0.524250328540802), (0, 0.534363567829132), (1, 0.683910489082336), (2, 0.69828999042511), (3, 0.525047481060028), (4, 0.703996777534485), (5, 0.657923460006714), (6, 0.546397387981415), (7, 0.583116412162781), (8, 0.639322221279144), (9, 0.616686403751373), (10, 0.652333617210388), (11, 0.489739805459976), (0, 0.535045802593231), (1, 0.668229997158051), (2, 0.673346281051636), (3, 0.535126507282257), (4, 0.659234523773193), (5, 0.672258734703064), (6, 0.493004590272903), (7, 0.615098893642426), (8, 0.607921600341797), (9, 0.627189934253693), (10, 0.629249393939972), (11, 0.498073130846024), (0, 0.526216566562653), (1, 0.656803548336029), (2, 0.686046123504639), (3, 0.519204676151276), (4, 0.678495705127716), (5, 0.662828028202057), (6, 0.529707193374634), (7, 0.625097930431366), (8, 0.662945449352264), (9, 0.593808591365814), (10, 0.66854465007782), (11, 0.526232481002808)]

In [17]:
t0=[]
l=len(ls13)
for i in range(l):
    if ls13[i][0]==0:
        t0.append(ls13[i])
print(t0)

[(0, 0.592080593109131), (0, 0.547907829284668), (0, 0.521400809288025), (0, 0.581149637699127), (0, 0.578332483768463), (0, 0.549889087677002), (0, 0.534363567829132), (0, 0.535045802593231), (0, 0.526216566562653)]

In [18]:
m=max(t0)
print(m)

(0, 0.592080593109131)

In [19]:
row=df[df['best_match_score'] == m[1]]

In [20]:
#Function to get the highest score for a particular query by topic_ID number
def get_best_score(ls,topic_ID):
    t=[]
    l=len(ls)
    for i in range(l):
        if ls[i][0]==topic_ID:
            t.append(ls[i])
    m=max(t)
    #print(m)
    row=df[df['best_match_score'] == m[1]]
    return row

In [21]:
ans=get_best_score(ls12,0)
print(ans)

     corpus  corpus_year query_source  query_year  \
0  Academic         2012       Medium        2012

                                               query  query_topicID  \
0  ['blog', 'spend', 'black', 'suffer', 'stigma',...              0

                                          best_match  best_match_score  \
0  ['symptom', 'patient', 'depression', 'somatic'...          0.587137

   best_match_topicID
0                  37

In [22]:
#Create a Dataframe to store the results
output=pd.DataFrame()

In [23]:
#Gap Analysis for 2012
for val in range(n12):
    op=get_best_score(ls12,val)
    output=output.append(op)

In [24]:
#Gap Analysis for 2013
for val in range(n13):
    op=get_best_score(ls13,val)
    output=output.append(op)

In [25]:
#Gap Analysis for 2014
for val in range(n14):
    op=get_best_score(ls14,val)
    output=output.append(op)

In [26]:
#Gap Analysis for 2015
for val in range(n15):
    op=get_best_score(ls15,val)
    output=output.append(op)

In [27]:
#Gap Analysis for 2016
for val in range(n16):
    op=get_best_score(ls16,val)
    output=output.append(op)

In [28]:
#Gap Analysis for 2017
for val in range(n17):
    op=get_best_score(ls17,val)
    output=output.append(op)

In [29]:
#Gap Analysis for 2018
for val in range(n18):
    op=get_best_score(ls18,val)
    output=output.append(op)

In [30]:
#Gap Analysis for 2019
for val in range(n19):
    op=get_best_score(ls19,val)
    output=output.append(op)

In [31]:
#Gap Analysis for 2020
for val in range(n20):
    op=get_best_score(ls20,val)
    output=output.append(op)

In [32]:
output.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Medium,2012,"['blog', 'spend', 'black', 'suffer', 'stigma',...",0,"['symptom', 'patient', 'depression', 'somatic'...",0.587137,37
1041,Academic,2016,Medium,2012,"['blog', 'twin', 'baseball', 'game', 'spend', ...",1,"['behavior', 'work', 'suicidal_ideation', 'sui...",0.566041,24
522,Academic,2014,Medium,2012,"['symptom', 'physical', 'emotional', 'aqui', '...",2,"['symptom', 'health', 'mental', 'depressive', ...",0.754754,10
783,Academic,2015,Medium,2012,"['faith', 'pull', 'action', 'strong', 'spend',...",3,"['social', 'sad', 'change', 'personality', 'co...",0.684294,8
1564,Academic,2018,Medium,2012,"['emotional', 'symptom', 'physical', 'controla...",4,"['social', 'emotional', 'negative', 'relations...",0.782141,7

In [33]:
output.to_csv("Journal_vs_Medium.csv")