In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("GA_j12r12.csv")
df1=df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df1.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['fear', 'sad', 'memory', 'social', 'previous'...",0.593930,18
1,Academic,2012,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['social', 'participant', 'positive', 'anxiety...",0.659234,5
2,Academic,2012,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.826772,24
3,Academic,2012,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['sleep', 'hybrid', 'monitoring', 'insomnia', ...",0.559757,1
4,Academic,2012,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['fear', 'sad', 'memory', 'social', 'previous'...",0.676318,18

In [3]:
df2=pd.read_csv("GA_j12r13.csv")
df2=df2.loc[:, ~df2.columns.str.contains('^Unnamed')]
df2.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
1,Academic,2012,Reddit,2013,"['ahead', 'hardest', 'butt', 'upside', 'thrill...",1,"['single', 'nucleus', 'rat', 'apoptosis', 'neu...",0.558444,32
2,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
3,Academic,2012,Reddit,2013,"['kind', 'big', 'hit', 'tired', 'wake', 'aweso...",3,"['patient', 'anxiety', 'cognitive', 'treatment...",0.601308,8
4,Academic,2012,Reddit,2013,"['testing', 'genre', 'flare', 'upside', 'thril...",4,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.509972,24

In [4]:
df3=pd.read_csv("GA_j12r14.csv")
df3=df3.loc[:, ~df3.columns.str.contains('^Unnamed')]
df3.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2014,"['room', 'mother', 'treat', 'exactly', 'strang...",0,"['child', 'anxiety', 'disorder', 'parent', 'no...",0.709107,36
1,Academic,2012,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['fear', 'sad', 'memory', 'social', 'previous'...",0.540187,18
2,Academic,2012,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['fear', 'sad', 'memory', 'social', 'previous'...",0.540187,18
3,Academic,2012,Reddit,2014,"['depression', 'tonight', 'suffer', 'anxiety',...",3,"['mood', 'disorder', 'depressive', 'depressed'...",0.842015,2
4,Academic,2012,Reddit,2014,"['anxiety', 'remember', 'try', 'see', 'year', ...",4,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.791164,24

In [5]:
df4=pd.read_csv("GA_j12r15.csv")
df4=df4.loc[:, ~df4.columns.str.contains('^Unnamed')]
df4.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['fear', 'sad', 'memory', 'social', 'previous'...",0.605787,18
1,Academic,2012,Reddit,2015,"['play', 'online', 'game', 'name', 'email', 'd...",1,"['fear', 'sad', 'memory', 'social', 'previous'...",0.652642,18
2,Academic,2012,Reddit,2015,"['simple', 'glad', 'accept', 'reality', 'one',...",2,"['fear', 'sad', 'memory', 'social', 'previous'...",0.624482,18
3,Academic,2012,Reddit,2015,"['red', 'letter', 'mail', 'advice', 'may', 'di...",3,"['fear', 'sad', 'memory', 'social', 'previous'...",0.708107,18
4,Academic,2012,Reddit,2015,"['effect', 'beat', 'option', 'frequently', 'li...",4,"['effect', 'participant', 'complete', 'act', '...",0.638938,6

In [7]:
df5=pd.read_csv("GA_j13r12.csv")
df5=df5.loc[:, ~df5.columns.str.contains('^Unnamed')]
df5.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2013,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['attention', 'activation', 'image', 'face', '...",0.586604,27
1,Academic,2013,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['social', 'internalize', 'anxiety', 'subject'...",0.660874,1
2,Academic,2013,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'associate', 'self', 'risk', 'high...",0.829521,2
3,Academic,2013,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['abuse', 'must', 'sexual', 'human', 'return',...",0.534181,25
4,Academic,2013,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['attention', 'activation', 'image', 'face', '...",0.615116,27

In [8]:
df6=pd.read_csv("GA_j13r13.csv")
df6=df6.loc[:, ~df6.columns.str.contains('^Unnamed')]
df6.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2013,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['symptom', 'function', 'member', 'specific', ...",0.522782,48
1,Academic,2013,Reddit,2013,"['ahead', 'hardest', 'butt', 'upside', 'thrill...",1,"['depression', 'cognitive', 'risk', 'woman', '...",0.546241,4
2,Academic,2013,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['symptom', 'function', 'member', 'specific', ...",0.522782,48
3,Academic,2013,Reddit,2013,"['kind', 'big', 'hit', 'tired', 'wake', 'aweso...",3,"['strongly', 'pool', 'behaviour', 'single', 'l...",0.633819,38
4,Academic,2013,Reddit,2013,"['testing', 'genre', 'flare', 'upside', 'thril...",4,"['distress', 'scale', 'factor', 'screening', '...",0.516897,49

In [9]:
df7=pd.read_csv("GA_j13r14.csv")
df7=df7.loc[:, ~df7.columns.str.contains('^Unnamed')]
df7.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2013,Reddit,2014,"['room', 'mother', 'treat', 'exactly', 'strang...",0,"['child', 'anxiety', 'treatment', 'parent', 'r...",0.683643,34
1,Academic,2013,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['strongly', 'pool', 'behaviour', 'single', 'l...",0.610831,38
2,Academic,2013,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['strongly', 'pool', 'behaviour', 'single', 'l...",0.610831,38
3,Academic,2013,Reddit,2014,"['depression', 'tonight', 'suffer', 'anxiety',...",3,"['depressive', 'system', 'major', 'depressed',...",0.754244,29
4,Academic,2013,Reddit,2014,"['anxiety', 'remember', 'try', 'see', 'year', ...",4,"['anxiety', 'associate', 'self', 'risk', 'high...",0.760344,2

In [10]:
df8=pd.read_csv("GA_j13r15.csv")
df8=df8.loc[:, ~df8.columns.str.contains('^Unnamed')]
df8.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2013,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['symptom', 'function', 'member', 'specific', ...",0.651500,48
1,Academic,2013,Reddit,2015,"['play', 'online', 'game', 'name', 'email', 'd...",1,"['social', 'internalize', 'anxiety', 'subject'...",0.607789,1
2,Academic,2013,Reddit,2015,"['simple', 'glad', 'accept', 'reality', 'one',...",2,"['social', 'internalize', 'anxiety', 'subject'...",0.648781,1
3,Academic,2013,Reddit,2015,"['red', 'letter', 'mail', 'advice', 'may', 'di...",3,"['social', 'internalize', 'anxiety', 'subject'...",0.684816,1
4,Academic,2013,Reddit,2015,"['effect', 'beat', 'option', 'frequently', 'li...",4,"['strongly', 'pool', 'behaviour', 'single', 'l...",0.626112,38

In [11]:
df9=pd.read_csv("GA_j14r12.csv")
df9=df9.loc[:, ~df9.columns.str.contains('^Unnamed')]
df9.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2014,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['worry', 'deliver', 'telephone', 'clinician',...",0.620435,45
1,Academic,2014,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['psychotherapy', 'intent', 'cancer', 'benefic...",0.612476,55
2,Academic,2014,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'prevalence', 'increase', 'physica...",0.773832,33
3,Academic,2014,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['impairment', 'life', 'quality', 'domain', 'e...",0.567577,39
4,Academic,2014,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['attention', 'task', 'mindfulness', 'focus', ...",0.594252,32

In [12]:
df10=pd.read_csv("GA_j14r13.csv")
df10=df10.loc[:, ~df10.columns.str.contains('^Unnamed')]
df10.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2014,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['marker', 'single', 'mental', 'health', 'esti...",0.535360,2
1,Academic,2014,Reddit,2013,"['ahead', 'hardest', 'butt', 'upside', 'thrill...",1,"['marker', 'single', 'mental', 'health', 'esti...",0.578372,2
2,Academic,2014,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['marker', 'single', 'mental', 'health', 'esti...",0.535360,2
3,Academic,2014,Reddit,2013,"['kind', 'big', 'hit', 'tired', 'wake', 'aweso...",3,"['impairment', 'life', 'quality', 'domain', 'e...",0.650309,39
4,Academic,2014,Reddit,2013,"['testing', 'genre', 'flare', 'upside', 'thril...",4,"['symptom', 'sample', 'clinical', 'dimension',...",0.561690,15

In [13]:
df11=pd.read_csv("GA_j14r14.csv")
df11=df11.loc[:, ~df11.columns.str.contains('^Unnamed')]
df11.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2014,Reddit,2014,"['room', 'mother', 'treat', 'exactly', 'strang...",0,"['child', 'parent', 'family', 'maintain', 'pro...",0.687474,29
1,Academic,2014,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['disorder', 'anxiety', 'admixture', 'characte...",0.542502,28
2,Academic,2014,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['disorder', 'anxiety', 'admixture', 'characte...",0.542502,28
3,Academic,2014,Reddit,2014,"['depression', 'tonight', 'suffer', 'anxiety',...",3,"['depressive', 'anxious', 'non', 'mdd', 'major...",0.802596,52
4,Academic,2014,Reddit,2014,"['anxiety', 'remember', 'try', 'see', 'year', ...",4,"['anxiety', 'prevalence', 'increase', 'physica...",0.737327,33

In [14]:
df12=pd.read_csv("GA_j14r15.csv")
df12=df12.loc[:, ~df12.columns.str.contains('^Unnamed')]
df12.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2014,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['onset', 'administer', 'analysis', 'number', ...",0.641321,51
1,Academic,2014,Reddit,2015,"['play', 'online', 'game', 'name', 'email', 'd...",1,"['onset', 'administer', 'analysis', 'number', ...",0.615899,51
2,Academic,2014,Reddit,2015,"['simple', 'glad', 'accept', 'reality', 'one',...",2,"['dimension', 'value', 'individual', 'examine'...",0.623561,41
3,Academic,2014,Reddit,2015,"['red', 'letter', 'mail', 'advice', 'may', 'di...",3,"['worry', 'deliver', 'telephone', 'clinician',...",0.691874,45
4,Academic,2014,Reddit,2015,"['effect', 'beat', 'option', 'frequently', 'li...",4,"['discriminant', 'validity', 'measure', 'facto...",0.627677,14

In [15]:
df13=pd.read_csv("GA_j15r12.csv")
df13=df13.loc[:, ~df13.columns.str.contains('^Unnamed')]
df13.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2015,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['attention', 'threat', 'child', 'task', 'css'...",0.588987,19
1,Academic,2015,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['personality', 'prospective', 'cocaine', 'pre...",0.613174,20
2,Academic,2015,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'response', 'function', 'high', 'c...",0.832934,50
3,Academic,2015,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['high', 'function', 'low', 'predict', 'disord...",0.554758,16
4,Academic,2015,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['emotional', 'task', 'person', 'modify', 'att...",0.610386,23

In [16]:
df14=pd.read_csv("GA_j15r13.csv")
df14=df14.loc[:, ~df14.columns.str.contains('^Unnamed')]
df14.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2015,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['database', 'patient', 'suicidal', 'receive',...",0.560626,46
1,Academic,2015,Reddit,2013,"['ahead', 'hardest', 'butt', 'upside', 'thrill...",1,"['database', 'patient', 'suicidal', 'receive',...",0.596992,46
2,Academic,2015,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['database', 'patient', 'suicidal', 'receive',...",0.560626,46
3,Academic,2015,Reddit,2013,"['kind', 'big', 'hit', 'tired', 'wake', 'aweso...",3,"['economic', 'burden', 'face', 'therapy', 'cal...",0.669887,72
4,Academic,2015,Reddit,2013,"['testing', 'genre', 'flare', 'upside', 'thril...",4,"['symptom', 'self', 'panic', 'patient', 'clini...",0.554218,42

In [17]:
df15=pd.read_csv("GA_j15r14.csv")
df15=df15.loc[:, ~df15.columns.str.contains('^Unnamed')]
df15.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2015,Reddit,2014,"['room', 'mother', 'treat', 'exactly', 'strang...",0,"['mother', 'pregnancy', 'symptom', 'depression...",0.693422,60
1,Academic,2015,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['dimensional', 'dropout', 'contrast', 'predic...",0.552216,70
2,Academic,2015,Reddit,2014,"['circus', 'waist', 'battery', 'appearance', '...",1,"['dimensional', 'dropout', 'contrast', 'predic...",0.552216,70
3,Academic,2015,Reddit,2014,"['depression', 'tonight', 'suffer', 'anxiety',...",3,"['anxiety', 'child', 'disorder', 'clinical', '...",0.750780,69
4,Academic,2015,Reddit,2014,"['anxiety', 'remember', 'try', 'see', 'year', ...",4,"['style', 'treatment', 'subsample', 'anxiety',...",0.732447,15

In [18]:
df16=pd.read_csv("GA_j15r15.csv")
df16=df16.loc[:, ~df16.columns.str.contains('^Unnamed')]
df16.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
1,Academic,2015,Reddit,2015,"['play', 'online', 'game', 'name', 'email', 'd...",1,"['internet', 'intervention', 'mediation', 'val...",0.585048,51
2,Academic,2015,Reddit,2015,"['simple', 'glad', 'accept', 'reality', 'one',...",2,"['emotional', 'task', 'person', 'modify', 'att...",0.650755,23
3,Academic,2015,Reddit,2015,"['red', 'letter', 'mail', 'advice', 'may', 'di...",3,"['internet', 'intervention', 'mediation', 'val...",0.670636,51
4,Academic,2015,Reddit,2015,"['effect', 'beat', 'option', 'frequently', 'li...",4,"['immediately', 'act', 'heart', 'wave', 'hold'...",0.652418,76

In [20]:
ls=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16]
df=pd.concat(ls)
df.head()

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['fear', 'sad', 'memory', 'social', 'previous'...",0.593930,18
1,Academic,2012,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['social', 'participant', 'positive', 'anxiety...",0.659234,5
2,Academic,2012,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.826772,24
3,Academic,2012,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['sleep', 'hybrid', 'monitoring', 'insomnia', ...",0.559757,1
4,Academic,2012,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['fear', 'sad', 'memory', 'social', 'previous'...",0.676318,18

In [21]:
df.shape

(808, 9)

In [22]:
df

,corpus,corpus_year,query_source,query_year,query,query_topicID,best_match,best_match_score,best_match_topicID
0,Academic,2012,Reddit,2012,"['round', 'willing', 'connect', 'please', 'reg...",0,"['fear', 'sad', 'memory', 'social', 'previous'...",0.593930,18
1,Academic,2012,Reddit,2012,"['acceptance', 'cognitive_behavioral', 'key', ...",1,"['social', 'participant', 'positive', 'anxiety...",0.659234,5
2,Academic,2012,Reddit,2012,"['anxiety', 'feel', 'go', 'be', 'get', 'have',...",2,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.826772,24
3,Academic,2012,Reddit,2012,"['drive', 'cop', 'mile', 'gas', 'driving', 'un...",3,"['sleep', 'hybrid', 'monitoring', 'insomnia', ...",0.559757,1
4,Academic,2012,Reddit,2012,"['be', 'people', 'want', 'know', 'think', 'say...",4,"['fear', 'sad', 'memory', 'social', 'previous'...",0.676318,18
5,Academic,2012,Reddit,2012,"['relax', 'silly', 'large', 'male', 'psycholog...",5,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.657610,24
6,Academic,2012,Reddit,2012,"['breath', 'breathe', 'breathing', 'absolutely...",6,"['self', 'remission', 'depression', 'anxiety',...",0.591784,11
7,Academic,2012,Reddit,2012,"['create', 'goal', 'amount', 'coffee', 'quit',...",7,"['fear', 'sad', 'memory', 'social', 'previous'...",0.685357,18
8,Academic,2012,Reddit,2012,"['sound', 'roll', 'chat', 'window', 'intereste...",8,"['symptom', 'patient', 'depression', 'somatic'...",0.575883,37
9,Academic,2012,Reddit,2012,"['visit', 'event', 'reward', 'roommate', 'cowo...",9,"['child', 'anxiety', 'disorder', 'parent', 'no...",0.629698,36
0,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
1,Academic,2012,Reddit,2013,"['ahead', 'hardest', 'butt', 'upside', 'thrill...",1,"['single', 'nucleus', 'rat', 'apoptosis', 'neu...",0.558444,32
2,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
3,Academic,2012,Reddit,2013,"['kind', 'big', 'hit', 'tired', 'wake', 'aweso...",3,"['patient', 'anxiety', 'cognitive', 'treatment...",0.601308,8
4,Academic,2012,Reddit,2013,"['testing', 'genre', 'flare', 'upside', 'thril...",4,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.509972,24
5,Academic,2012,Reddit,2013,"['little', 'do', 'feeling', 'level', 'state', ...",5,"['fear', 'sad', 'memory', 'social', 'previous'...",0.613544,18
6,Academic,2012,Reddit,2013,"['laugh', 'shirt', 'stigmata', 'summary', 'sel...",6,"['ptsd', 'trauma', 'alcohol', 'perceive', 'sta...",0.513818,7
7,Academic,2012,Reddit,2013,"['people', 'help', 'make', 'life', 'would', 'w...",7,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.720100,24
8,Academic,2012,Reddit,2013,"['example', 'quite', 'bus', 'asshole', 'bit', ...",8,"['factor', 'model', 'domain', 'structure', 'de...",0.593318,19
9,Academic,2012,Reddit,2013,"['whenever', 'word', 'negative', 'quickly', 'm...",9,"['mdd', 'patient', 'generalize', 'disorder', '...",0.568085,0
10,Academic,2012,Reddit,2013,"['class', 'symptom', 'room', 'girl', 'kill', '...",10,"['anxiety', 'measure', 'low', 'class', 'high',...",0.637083,28
11,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
12,Academic,2012,Reddit,2013,"['phone', 'pm', 'alarm', 'set', 'upside', 'sum...",12,"['self', 'social', 'symptom', 'report', 'predi...",0.602174,16
13,Academic,2012,Reddit,2013,"['funny', 'article', 'regard', 'smart', 'hopef...",13,"['self', 'social', 'symptom', 'report', 'predi...",0.547683,16
14,Academic,2012,Reddit,2013,"['create', 'link', 'research', 'information', ...",14,"['fear', 'sad', 'memory', 'social', 'previous'...",0.629145,18
15,Academic,2012,Reddit,2013,"['anxiety', 'feel', 'get', 'go', 'have', 'time...",15,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.777106,24
16,Academic,2012,Reddit,2013,"['far', 'common', 'mine', 'overwhelming', 'con...",16,"['anxiety', 'guide', 'find', 'face', 'scale', ...",0.686743,24
17,Academic,2012,Reddit,2013,"['genre', 'flare', 'upside', 'thriller', 'summ...",0,"['factor', 'model', 'domain', 'structure', 'de...",0.510060,19
18,Academic,2012,Reddit,2013,"['send', 'generalize', 'meal', 'stigmata', 'up...",18,"['ptsd', 'trauma', 'alcohol', 'perceive', 'sta...",0.552910,7
19,Academic,2012,Reddit,2013,"['insurance', 'victory', 'cover', 'private', '...",19,"['risk', 'early', 'intervention', 'moderator',...",0.621018,29
...,...,...,...,...,...,...,...,...,...
40,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
41,Academic,2015,Reddit,2015,"['brain', 'subreddit', 'feel', 'fix', 'mistake...",41,"['emotional', 'task', 'person', 'modify', 'att...",0.621009,23
42,Academic,2015,Reddit,2015,"['heart', 'breath', 'chest', 'deep', 'player',...",42,"['anxiety', 'response', 'function', 'high', 'c...",0.701192,50
43,Academic,2015,Reddit,2015,"['finally', 'incredibly', 'drug', 'help', 'apo...",43,"['hypothesise', 'treatment', 'outcome', 'patie...",0.724719,66
44,Academic,2015,Reddit,2015,"['free', 'post', 'helpful', 'weekend', 'view',...",44,"['mood', 'week', 'prenatal', 'postpartum', 'em...",0.604179,54
45,Academic,2015,Reddit,2015,"['college', 'student', 'wide', 'mentality', 'c...",45,"['training', 'bias', 'anxious', 'train', 'chil...",0.578885,48
46,Academic,2015,Reddit,2015,"['relate', 'learn', 'slowly', 'light', 'uncomf...",46,"['subjective', 'visual', 'skin', 'extinction_l...",0.619063,74
47,Academic,2015,Reddit,2015,"['tend', 'entirely', 'wherever', 'plummet', 'n...",47,"['internet', 'intervention', 'mediation', 'val...",0.618633,51
48,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
49,Academic,2015,Reddit,2015,"['would', 'say', 'could', 'give', 'start', 'st...",49,"['immediately', 'act', 'heart', 'wave', 'hold'...",0.578700,76
50,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
51,Academic,2015,Reddit,2015,"['effort', 'decrease', 'news', 'read', 'negati...",51,"['emotional', 'task', 'person', 'modify', 'att...",0.707216,23
52,Academic,2015,Reddit,2015,"['be', 'anxiety', 'feel', 'go', 'get', 'make',...",52,"['anxiety', 'response', 'function', 'high', 'c...",0.790124,50
53,Academic,2015,Reddit,2015,"['parent', 'plummet', 'damaging', 'numerous', ...",53,"['attention', 'threat', 'child', 'task', 'css'...",0.665987,19
54,Academic,2015,Reddit,2015,"['experience', 'appointment', 'type', 'class',...",54,"['emotion', 'mind', 'situation', 'training', '...",0.712252,77
55,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
56,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
57,Academic,2015,Reddit,2015,"['money', 'tip', 'reduce', 'yell', 'stomach', ...",57,"['economic', 'burden', 'face', 'therapy', 'cal...",0.633935,72
58,Academic,2015,Reddit,2015,"['job', 'interview', 'lack', 'badly', 'positio...",58,"['subjective', 'visual', 'skin', 'extinction_l...",0.644763,74
59,Academic,2015,Reddit,2015,"['sweat', 'psychologist', 'awake', 'shake', 'w...",59,"['health', 'stroke', 'sleep', 'caregiver', 'im...",0.709535,75
60,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
61,Academic,2015,Reddit,2015,"['body', 'blood', 'neck', 'somewhere', 'ready'...",61,"['degree', 'day', 'control', 'anxiety', 'patie...",0.642321,78
62,Academic,2015,Reddit,2015,"['shop', 'severely', 'tackle', 'buy', 'inside'...",62,"['emotional', 'task', 'person', 'modify', 'att...",0.546962,23
63,Academic,2015,Reddit,2015,"['live', 'can', 'sometimes', 'be', 'fucking', ...",63,"['genetic', 'additional', 'event', 'moreover',...",0.613624,43
64,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
65,Academic,2015,Reddit,2015,"['close', 'dark', 'fully', 'common', 'lead', '...",65,"['high', 'function', 'low', 'predict', 'disord...",0.611146,16
66,Academic,2015,Reddit,2015,"['symptom', 'suppose', 'respond', 'amount', 's...",66,"['symptom', 'self', 'panic', 'patient', 'clini...",0.697104,42
67,Academic,2015,Reddit,2015,"['fuck', 'city', 'edge', 'useless', 'square', ...",67,"['dimensional', 'dropout', 'contrast', 'predic...",0.575313,70
68,Academic,2015,Reddit,2015,"['plummet', 'damaging', 'numerous', 'frighteni...",0,"['emotional', 'task', 'person', 'modify', 'att...",0.615702,23
69,Academic,2015,Reddit,2015,"['dumb', 'round', 'wherever', 'peeve', 'numero...",69,"['internet', 'intervention', 'mediation', 'val...",0.636295,51

In [23]:
df.to_csv("GapAnalysis_JvR1215.csv")